*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./img/image.png);
}

/* INICIO HEADER */
.navbar{
    background-color: #EDD989;
}

.offcanvas-header{
   background-color: #EDD989;
}

.offcanvas-title{
    background-color: #EDD989;
    color: #0a0a0a;
}

.offcanvas-body{
    background-color: #EDD989;
}

.offcanvas-body ul li:hover{
    transform: scale(1.020);
}

.nav-link{
    color: #0a0a0a;
}

#button-header:hover{
    transform: scale(1.020);
}

@media (max-width: 390px) {
    #offcanvasDarkNavbar .offcanvas-title {
      font-size: 1rem; /* Ou outro tamanho que você preferir */
}
}
/* FIM HEADER */

/*INÍCIO MAIN*/
main{
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}

h1{
    padding-top: 5%; /*usei para tirar a distancia do titulo p header*/
}

.titulo-estudos {
    color: #EDD989;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos para o grid */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas de largura igual */
    gap: 20px; 
  }
  
  .card-materia {
    background-color: #EDD989;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex; /* Usa flexbox para posicionar os elementos dentro do card */
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza horizontalmente */
    transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
  }
  
  .card-materia i {
    color: #512da8;
    margin-bottom: 30px;
    transition: all 0.5 ease;
  }

  /* aplicando hover apenas nas 3 primeiras matérias */
  .grid-container > .card-materia:nth-child(-n+3):hover {
    background-color: #180553;
    box-shadow: 10px 10px 10px #EDD989;
    transform: scale(1.025);
  }
  
  .grid-container > .card-materia:nth-child(-n+3):hover i {
    color: #EDD989; /* Muda a cor do ícone no hover */
  }
  
  .grid-container > .card-materia:nth-child(-n+3):hover button {
    color: #EDD989; /* Muda a cor do título no hover */
  }
  
  .grid-container > .card-materia:nth-child(-n+3):hover button {
    background-color: #EDD989; /* Muda a cor de fundo do botão no hover */
    color: #180553; /* Muda a cor do texto do botão no hover */
   
  }

  .card-materia button {
    color: #512da8;
    /* margin-bottom: 15px; */
    border: none;
    padding-top: 5%;
  }
  
  .card-materia button {
    display: block; /* Ocupa toda a largura disponível */
    background-color: #4527a0; /* Cor de fundo do botão "Em breve" */
    color: #EDD989;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer; /* Cursor padrão (não clicável) */
  }
  
  .card-materia button:hover {
    background-color: #311b92;
  }

.card-materia.inativo {
  opacity: 0.5; /* Opacidade reduzida para os cards inativos */
}

.card-materia.inativo .em-breve {
  display: block; /* Ocupa toda a largura disponível */
  background-color: #4527a0; /* Cor de fundo do botão "Em breve" */
  color: #EDD989;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 15px;
  cursor: default; /* Cursor padrão (não clicável) */
}

  @media screen and (max-width: 1183px){
    h1{
        padding-top: 10%;
    }
  }

  @media screen and (max-width: 569px){
    h1{
        padding-top: 20%;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
    }
  }
  
/*INÍCIO MAIN*/

/* INICIO FOOTER */
footer{
    position: relative;
    width: 100%;
    padding-top: 10%;
}

.footer-link {
    text-decoration: none;
}

#footer_content{
    background-color: #EDD989;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts a{
   cursor: pointer;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: #f8f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #0a0a0a;
    transition: all 0.1s;
}

.footer-list .footer-link:hover{
    color: #512da8;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #0a0a0a;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #e0c556;
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: #512da8;
    border: none;
    color: #e3e9f7;
    padding: 0px 1.75rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.2s;
}

#input_group button:hover{
    opacity: 0.8;
}

#copyright{
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
    color: #e3e9f7;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 1183px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 488px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 3rem 2rem;
    }
    #footer_social_media{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #footer_subscribe{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
/* FIM FOOTER */