*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./img/image.png);
}

/* INICIO HEADER */
.navbar{
    background-color: #EDD989;
}

.offcanvas-header{
   background-color: #EDD989;
}

.offcanvas-title{
    background-color: #EDD989;
    color: #0a0a0a;
}

.offcanvas-body{
    background-color: #EDD989;
}

.offcanvas-body ul li:hover{
    transform: scale(1.020);
}

.nav-link{
    color: #0a0a0a;
}

#button-header:hover{
    transform: scale(1.020);
}

@media (max-width: 390px) {
    #offcanvasDarkNavbar .offcanvas-title {
      font-size: 1rem; /* Ou outro tamanho que você preferir */
}
}
/* FIM HEADER */

/*INÍCIO MAIN*/
main{
    padding: 32px 24px;
    margin-top: 80PX;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    font-size: 48px;
    font-weight: 900;
    color: #EDD989;
}

.assuntos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 10rem);
    width: 100%;
}

.assuntos button{
    border: none;
    background-color: #EDD989;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 12px;
    color: #512da8;
    margin: 12px;
    transition: 0.5s ease;
}

.assuntos button:hover{
    background-color: #512da8;
    color: #EDD989;
    box-shadow: 5px 5px 50px #EDD989;
}

.botao_matematica{
    cursor: pointer;
}
.botao_historia{
    cursor: pointer;
}
.botao_portugues{
    cursor: pointer;
}
    
span{
    font-size: 18px;
    font-weight: 700;
}

.botao_inativo{
    cursor: default;
    opacity: 0.5;
    border: none;
    background-color: #EDD989;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 12px;
    color: #512da8;
    margin: 12px;
    text-decoration: none;
}

.botao_inativo a{
    text-decoration: none;
    color: #512da8;
}

@media (max-width: 540px){
    .assuntos button{
        flex-direction: column;
    }
    .botao_inativo{
        flex-direction: column;
    }
}
/*INÍCIO MAIN*/

/* INICIO FOOTER */
footer{
    position: relative;
    width: 100%;
    padding-top: 10%;
}

.footer-link {
    text-decoration: none;
}

#footer_content{
    background-color: #EDD989;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts a{
   cursor: pointer;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: #f8f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #0a0a0a;
    transition: all 0.1s;
}

.footer-list .footer-link:hover{
    color: #512da8;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #0a0a0a;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #e0c556;
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: #512da8;
    border: none;
    color: #e3e9f7;
    padding: 0px 1.75rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.2s;
}

#input_group button:hover{
    opacity: 0.8;
}

#copyright{
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
    color: #e3e9f7;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 1183px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 488px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 3rem 2rem;
    }
    #footer_social_media{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #footer_subscribe{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
/* FIM FOOTER */