@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

body{
    min-height: 100vh;
    background-image: url(../IMG/fundoRoxo.jpg); 
}


/* INICIO HEADER */
/* INICIO NAVBAR */
.navbar{
    background-color: #EDD989;
    border-bottom: 3px solid black;
}

.offcanvas-header{
   background-color: #EDD989;
}

.offcanvas-title{
    background-color: #EDD989;
    color: #0a0a0a;
}

.offcanvas-body{
    background-color: #EDD989;
}

.offcanvas-body ul li:hover{
    transform: scale(1.020);
}

.nav-link{
    color: #0a0a0a;
}

#button-header:hover{
    transform: scale(1.020);
}

@media (max-width: 390px) {
    #offcanvasDarkNavbar .offcanvas-title {
      font-size: 1rem; 
    }
  }
/* FIM NAVBAR */

/*  revelar página com o scroll */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
  }

  .reveal {
    opacity: 1;
    transform: translateY(0px);
  }
  /* fim  revelar página com o scroll */




/* INICIO PRIMEIRO BLOCO */

#container-bloco{
    background-color: #180553;
    padding-top: 10%;
    padding-bottom: 10%;
}

#titulo-bloco{
    color: #EDD989;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: reveal 1.5s ease-in-out
}

#paragrafo-bloco{
    color: #EDD989;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: reveal 1.5s ease-in-out
}

@keyframes reveal {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }  

#botao-bloco:hover{
    transform: scale(1.040);
}

  
/* FIM PRIMEIRO BLOCO */
/* FIM HEADER */


/* INICIO MAIN */

/* INICIO PATROCINADORES */

#container-patrocinadores{
    background-color: #fff;
    padding-top: 2%;
    padding-bottom: 5%;
}

#titulo-direita{
     padding-bottom: 10%;
     text-align: center;
     font-weight: bold;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
     animation: reveal 1.5s ease-in-out
}

#titulo-esquerda{
    padding-top: 15%;
    text-align: center;
    padding-bottom: 5%;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: reveal 1.5s ease-in-out
}


#container-patrocinadores img { /* Estiliza todas as imagens dentro do container */
    width: 150px; /* Defina uma largura fixa para todas as imagens */
    height: auto; /* Mantém a proporção original da imagem */
    margin: 10px auto;*/ /* Adiciona 10px de espaçamento em cima/embaixo e centraliza horizontalmente */
    display: block; /* Garante que a imagem seja um elemento de bloco para centralizar corretamente */
}

.row {
    justify-content: center; /* Centraliza os elementos dentro da linha */
}


/* FIM PATROCINADORES */



/* INICIO TABELAS */
#container-carousel{
    background-color: #EDD989;
   padding-top: 5%;
   padding-bottom: 5%;
}

.tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2;
    overflow: hidden;
  }
  
  .tab-item {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1vw;
  }

  @media (max-width: 1179px) {
    .tab-item {
      font-size: 2vw; /* Ajuste o valor conforme necessário */
    }
  }

  @media (max-width: 575px) {
    .tab-item {
      font-size: 4vw; /* Ajuste o valor conforme necessário */
    }
  }
  
  .tab-item:hover {
    background-color: #180553;
    color: #EDD989;
    box-shadow: 10px 10px 10px #EDD989;
    cursor: pointer;
  }
  
  .tab-item.active {
    background-color: #180553;
    color: #EDD989;
  }
  
  .tab-pane {
    display: none;
  }
  
  .tab-pane.active {
    display: block;
  }

  .tab-content{
    background-color: #53226D;
    border-radius: 5% 0 5% 0;
  }


  .p-left {
    text-align: left;
    color: #fff;
    animation: reveal 1.0s ease-in-out
  }
  
  .p-right {
    text-align: right;
    color: #fff;
    animation: reveal 1.0s ease-in-out
  }

  .p-tabelas {
    font-size: 1.5rem;
    color: #EDD989;
    animation: reveal 1.0s ease-in-out
  }

  .titulo-tabelas{
    color: #EDD989;
    text-align: center;
    padding-top: 3%;
    animation: reveal 1.0s ease-in-out
  }
/* FIM TABELAS */
/* FIM MAIN */





/* INICIO FORM */
#container-form{
    background-color: #180553;
    padding-top: 5%;
    padding-bottom: 5%;
}

#titulo-form{
    font-size: 3rem; 
    color: #EDD989;
    font-weight: bold;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

#p-form{
    font-size: 1.0rem;
    color: #EDD989;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 575px) {
    #titulo-form{
        text-align: center;
    }
    #p-form{
        text-align: center;
    }
}

.form-group{
    background-color: #EDD989;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

#primeiro-form{
    border-radius: 20% 20% 0 0;
}

#ultimo-form{
    border-radius: 0 0 15% 15%;
}


.btn-enviar{
    background-color: #512da8; /* Cor de fundo */
    border: none; /* Remove bordas */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Muda o cursor para um ponteiro quando passa por cima */
    transition-duration: 0.4s; /* Duração da transição */
  }
  
  .btn-enviar:hover {
    background-color: #180553; /* Cor de fundo quando passa o mouse por cima */
    transform: scale(1.025);
  }

/* FIM FORM */






/* INICIO FOOTER */
footer{
    position: relative;
    width: 100%;
    padding-top: 0;
}

.footer-link {
    text-decoration: none;
}

#footer_content{
    background-color: #EDD989;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts a{
   cursor: pointer;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: #f8f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #0a0a0a;
    transition: all 0.1s;
}

.footer-list .footer-link:hover{
    color: #512da8;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #0a0a0a;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #e0c556;
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: #512da8;
    border: none;
    color: #e3e9f7;
    padding: 0px 1.75rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.2s;
}

#input_group button:hover{
    opacity: 0.8;
}

#copyright{
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
    color: #e3e9f7;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 1183px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 488px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 3rem 2rem;
    }
    #footer_social_media{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #footer_subscribe{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
/* FIM FOOTER */