@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

body{
    min-height: 100vh;
    background-image: url(../IMG/fundoRoxo.jpg); 
}

/* INICIO HEADER */
.intro {
    background-color: #180553;
    color: white;
    padding: 20px 0; 
    padding-top: 100px;
}

.intro h1 {
    font-size: 2.5rem; 
    margin-bottom: 20px;
}

.intro a {
    text-decoration: none; /* Remove a decoração dos links */
}

.intro button:hover{
    transform: scale(1.065);
}

/* fazendo os icones chacoalhar */
.intro i:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  /* fim icones chacoalhando */

#container-home{
    margin-bottom: 13%;
}



/* INICIO NAVBAR */
.navbar{
    background-color: #EDD989;
    border-bottom: 3px solid black;
}

.offcanvas-header{
   background-color: #EDD989;
}

.offcanvas-title{
    background-color: #EDD989;
    color: #0a0a0a;
}

.offcanvas-body{
    background-color: #EDD989;
}

.offcanvas-body ul li:hover{
    transform: scale(1.020);
}

.nav-link{
    color: #0a0a0a;
}

#button-header:hover{
    transform: scale(1.020);
}

@media (max-width: 390px) {
    #offcanvasDarkNavbar .offcanvas-title {
      font-size: 1rem; 
    }
  }
/* FIM NAVBAR */

/* FIM HEADER */

/*INICIO MAIN*/

body main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 70px;
    width: 100%;
}

.conteudo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#container1{
    width: 800px;
}

#container2{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
main{
    padding-top: 2%;
    background-color: #EDD989;
    padding-bottom: 5%;
}

/*  revelar página com o scroll */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
  }

  .reveal {
    opacity: 1;
    transform: translateY(0px);
  }
  /* fim  revelar página com o scroll */
  

main h1{
    padding-top: 3%;
    font-size: 3rem; 
    color: #180553;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: reveal 3s ease-in-out;
}

#container3{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#container4{
    width: 800px;
}

.container{
    background-color: rgb(237, 217, 137);
    border-radius: 20px;
    transition: 0.5s;
    padding: 20px;
    width: 500px;
    color: rgb(95, 66, 112);
}

.container p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
}

.container:hover{
    color: rgb(237, 217, 137);
    background-color: rgb(95, 66, 112);
    box-shadow: 5px 5px 50px #EDD989;
}

.container a{
    color: inherit;
}

.container img{
    width: 400px;
    margin: 10px;
}

/* estilo do dado */

#d20-container {
    width: 150px; /* Ajuste conforme necessário */
    height: 150px;
    perspective: 1000px; /* Cria a perspectiva para o efeito 3D */
  }
  
  #d20 {
    width: 100%;
    height: 100%;
    animation: girarDado 5s infinite linear; /* Animação de rotação */
  }
  
  @keyframes girarDado {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
  }

  #d20-container:hover {
    background-image: url("assets/IMG/d20-hover.webp"); /* Imagem no hover */
  }
  /* fim estilo dado */

  /* estilo trofeu */
  #trofeuimg {
    animation: swing 0.5s infinite ease-in-out alternate;
    transform-origin: top center;
  }
  
  @keyframes swing {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  /* fim estilo trofeu */
/*FIM MAIN*/



/* INICIO BLOCOS */
#container-blocos{
    background-color: #180553;
}

#container-blocos h2{
    font-size: 2.3rem; 
    color: #EDD989;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#container-blocos p{
    font-size: 1.0rem;
    color: #EDD989;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#primeiroBloco{
    padding-top: 5%;
    margin-bottom: 10%;
}

#segundoBloco{
    margin-bottom: 10%;
}

#terceiroBloco{
    margin-bottom: 10%;
}

#quartoBloco{
    padding-bottom: 10%;
    margin-bottom: 0px;

}
/* FIM BLOCOS */






/* INICIO FOOTER */
footer{
    position: relative;
    width: 100%;
}

.footer-link {
    text-decoration: none;
}

#footer_content{
    background-color: #EDD989;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts a{
   cursor: pointer;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: #f8f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #0a0a0a;
    transition: all 0.1s;
}

.footer-list .footer-link:hover{
    color: #512da8;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #0a0a0a;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #e0c556;
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: #512da8;
    border: none;
    color: #e3e9f7;
    padding: 0px 1.75rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.2s;
}

#input_group button:hover{
    opacity: 0.8;
}

#copyright{
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
    color: #e3e9f7;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 1183px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 488px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 3rem 2rem;
    }
    #footer_social_media{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #footer_subscribe{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
/* FIM FOOTER */

/*INICIO MAIN*/

body main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 70px;
    width: 100%;
}

.conteudo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#container1{
    width: 800px;
}

#container2{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

#container3{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#container4{
    width: 800px;
}

.container{
    background-color: rgb(237, 217, 137);
    border-radius: 20px;
    transition: 0.5s;
    padding: 20px;
    width: 500px;
    color: rgb(95, 66, 112);
}

.container p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
}

.container:hover{
    color: rgb(237, 217, 137);
    background-color: rgb(95, 66, 112);
    box-shadow: 5px 5px 50px #EDD989;
}

.container a{
    color: inherit;
}

.container img{
    width: 400px;
    margin: 10px;
}

/*FIM MAIN*/