@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex; /*  coloquei para deixar a sidebar sempre no lado esquerdo */
    min-height: 100vh;
    background-image: url(../IMG/fundoRoxo.jpg); 

}

/* INICIO SIDEBAR */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EDD989;
    height: 100vh; /* p ela ficar somente na primeira pg, ou coloco um fixed? */
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
}

#sidebar_content{
    padding: 12px; 
}

#logo-sidebar{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#logo_icon{
    width: 60px;
    height: 50px;
    object-fit: cover;
}

#logo-infos{
    display: flex;
    flex-direction: column;
}

#logo-infos span:last-child{
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #512da8;
}

.side-item:hover:not(.active){
    background-color:  #e0c556;
}

.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#open_btn{
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #f0c000;
    color: #000;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.logo-description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .3s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .logo-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}
/* FIM SIDEBAR */

.todoConteudo{
    width: 100%;
}

/*Começo conteúdo principal*/

/*fim conteúdo principal*/

/*Estilos gerais da header*/
header{
    background-color: #EDD989;
    height: 70px;
}
#hLinks{ /*links da header*/
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
    padding: 20px;
}

.hLinks{
    color: #000000;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap;
    padding: 5px;
}

.hLinks:hover{
    background-color: #BBAB6C; /* Cor de fundo ao passar o mouse */
    transform: scale(1.2);
}

/*início footer*/
footer{
    background-color: #EDD989;
    padding: 30px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer a{
    color: #000000;
    text-decoration: none;
}

footer img{
    width: 100px;
}

footer .fColunas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}

footer .fLink{
    transition: 0.3s;
}

footer .fLink:hover{
    color: rgb(117, 100, 68);
}
/*fim footer*/